
website/src/components/pages/Features/demo_vids/aggressive.mp4
website/src/components/pages/Features/demo_vids/attendance.mp4
website/src/components/pages/Features/demo_vids/choking.mp4
website/src/components/pages/Features/demo_vids/empty_counter.mp4
website/src/components/pages/Features/demo_vids/fainting.mp4
website/src/components/pages/Features/demo_vids/social_distancing.mp4
website/src/components/pages/Features/demo_vids/smoking.mp4
website/src/components/pages/Features/demo_vids/weapon.mp4
