.product__hero-section {
    color: #fff;
    padding: 250px 0;
    width: 100%;
    display: flex;
    padding-top: 200px;
  }
  
  .product__hero-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
  
  .product__hero-text-wrapper {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  
  .product-heading {
    max-width: 100%;
    margin-bottom: 50px;
    font-size: 130px;
    line-height: 1.1;
    color: #f7f8fa;
  }

  span {
    color: #ff6a3d;
  }
  
  .dark {
    color: #1c2237;
  }
  
  .darkBg {
    background-color: #1c2237;
  }
  
  .product__hero-subtitle {
    max-width: 75%;
    margin-bottom: 50px;
    font-size: 40px;
    line-height: 1.2;
  }
  
  .product__hero-img-wrapper {
    max-width: 100%;

  }
  
  .product__hero-img {
    margin-top: -10%;
    margin-right: 0;
    margin-left: 10%;
    padding-right: 0;
    border: 0;
    width: 70%;
    vertical-align: middle;
    display: inline-block;
  }
  

  .get-started {
    padding-left: 20%;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .home__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }