.services__section {
    padding: 100px 0 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fafafa;
  }
  
  .services__container-card {
    background: linear-gradient(45deg, #0660e9 0%, #276afb 100%);
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.2);
    width: 280px;
    height: 400px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  .services__container-card:nth-child(2) {
    background: #242424;
  }

  .services__container-card:nth-child(2) {
    margin: 0 24px;
  }
  
  .services__container-card:nth-child(4) {
    background: #242424;
  }

  .services__container-card:nth-child(4) {
    margin: 0 24px;
  }

  .services__container-card:nth-child(6) {
    background: #242424;
  }

  .services__container-card:nth-child(6) {
    margin: 0 24px;
  }

  .services__container-card:nth-child(8) {
    background: #242424;
  }

  .services__container-card:nth-child(8) {
    margin: 0 24px;
  }

  .services__container-card:nth-child(10) {
    background: #242424;
  }

  .services__container-card:nth-child(10) {
    margin: 0 24px;
  }

  .services__container-card:nth-child(12) {
    background: #242424;
  }

  .services__container-card:nth-child(12) {
    margin: 0 24px;
  }

  .services__container-card:hover {
    transform: scale(1.06);
    transition: all 0.3s ease-out;
    color: #1c2237;
  }
  

  
  .services__container {
    display:flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
  }
  
  .services__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
  }
  
  .services__heading {
    color: #1c2237;
    margin-bottom: 50px;
    margin-top: 10px;
    text-align: center;
    font-size: 50px;
  }
  
  .services__container-cardInfo {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 24px;
    align-items: center;
    color: #fff;
  }
  
  .services__container-cardInfo h4 {
    font-size: 24px;
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .services__container-cardInfo p {
    font-size: 14px;
    margin-top: 24px;
    padding-left: 25%;
    padding-right: 25%;
    
  }
  
  .services__container-features {
    margin: 16px 0 32px;
    list-style: none;
  }
  
  .services__container-features li {
    margin-bottom: 10px;
  }
  
  .services__container-features {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .icon {
    margin: 20px 0;
  }
  
  @media screen and (max-width: 960px) {
    .services__container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  
    .services__container-card {
      width: 90%;
    }
  
    .services__wrapper {
      margin: 0 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .services__container-card:nth-child(2) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }
  
    .services__container-card:nth-child(4) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }

    .services__container-card:nth-child(6) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }

    .services__container-card:nth-child(8) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }

    .services__container-card:nth-child(10) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }

    .services__container-card:nth-child(12) {
      transform: scale(1);
      background: #242424;
      margin: 24px;
    }

    .services__container-card:hover {
      transform: none;
    }
  }