.features__hero-section {
    color: rgb(255, 255, 255);
    padding: 160px 0;
  }
  
  .features__hero-row {
    align-items: center;
  }
  
  .row {
    display: flex;
    margin-right: -15px;
    margin-bottom: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    align-content: stretch;
  }
  
  .col {
    margin-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    flex: 1;
    max-width: 50%;
    flex-basis: 50%;
  }
  
  .features__hero-text-wrapper {
    max-width: 540px;
    padding-top: 0;
    padding-bottom: 60px;
  }
  
  .heading {
    margin-bottom: 24px;
    font-size: 48px;
    line-height: 1.1;
    font-weight: 600;
    color: #f7f8fa;
  }
  
  .dark {
    color: #000000;
  }
  
  .darkBg {
    background-color: black;
  }
  
  .features__hero-subtitle {
    max-width: 440px;
    margin-bottom: 35px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .features__hero-img-wrapper {
    max-width: 500px;
  }
  
  .features__hero-img {
    max-width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 100px;
    padding-right: 0;
  }
  
  img {
    border: 0;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
  }
  
  @media screen and (max-width: 991px) {
    .container {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .features__hero-text-wrapper {
      padding-bottom: 65px;
    }
  
    .col {
      max-width: 100%;
      flex-basis: 100%;
    }
  }


  .video-js{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    margin-top: 25px;
    justify-content: center;
    margin-bottom: 25px;
  }

  .vjs-poster {
      border-radius: 25px;
  }

  .video-js .vjs-big-play-button{
      background-color: coral;
  }